<div class="container">
    <div class="row">
        <div class="col d-flex align-content-between flex-wrap my-1">
            <div>{{!-- migas de pan --}}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="/home/produccion">Menú de Producción</a></li>
                        <li class="breadcrumb-item"><a href="/procesos/preProduccion">Ordenes de producción</a></li>
                        <li class="breadcrumb-item active" aria-current="page">preProducción</li>

                    </ol>
                </nav>
            </div>
            <div class="col d-flex justify-content-end"> {{!-- Botones --}}
                <a href="/home" class="btn btn-secondary">Salir&nbsp;<i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">preProduccion</h4>
                </div>
                <form action="/procesos/preProduccion/{{proceso.idProceso}}" method="post">
                    <div class="card-body">

                        <div class="form-group mb-2">{{!-- consecutivo OP --}}
                            <label for="consecutivoOP">Consecutivo</label>
                            <input type="text" class="form-control" id="consecutivoOP" name="consecutivoOP"
                                value="{{proceso.consecutivo}}" readonly>
                        </div>

                        <div class="form-group mb-2">{{!-- nombreOP --}}
                            <label for="nombreOP">Nombre de la Orden de Produccion</label>
                            <input type="text" class="form-control" id="nombreOP" name="nombreOP"
                                value="{{proceso.nombreOP}}" readonly>
                        </div>

                        <div class="form-group mb-2"> {{!-- estado --}}
                            <label for="estado">Estado del proceso</label>
                            <select name="estado" class="form-control" id="estado">
                                <option value="en Proceso">en Proceso</option>
                                <option value="Terminado">Terminado</option>
                            </select>
                            <script>
                                document.getElementById('estado').value = "{{proceso.estadoProceso}}";
                            </script>
                        </div>

                        <div class="form-group mb-2">{{!-- Observaciones --}}
                            <label for="observaciones">Observaciones</label>
                            <textarea name="observaciones" class="form-control"
                                id="observaciones" rows="1">{{proceso.observacionesProceso}}</textarea>
                        </div>
                        {{!-- input oculto --}}
                        <input type="hidden" name="tipoProceso" value="{{proceso.tipoProceso}}">

                    </div>

                    <div class="card-footer">
                        <div class="form-group text-center"> {{!-- Boton --}}
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<script src="/js/textareaAutomatico.js"></script>