<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/home/produccion">Menú de Producción</a></li>
            <li class="breadcrumb-item"><a href="/ordenProduccion/listarOP">Ordenes de producción</a></li>
            <li class="breadcrumb-item active" aria-current="page">Procesos</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col mx-auto">
            <div class="my-4">
                <h4>{{OP.nombreOP}}</h4>
                <p>Consecutivo: <strong>{{OP.consecutivo}}</strong></p>
            </div>
            <div class="my-2">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Proceso</th>
                            <th>Estado</th>
                            <th>Cant. en Cola</th>
                            <th>Cant. ingresada</th>
                            <th>Cant. Salida</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each procesos}}
                        <tr id="tr_{{nombreProceso}}">
                            <td><a href="/procesos/produccionXProceso/{{idProceso}}">{{nombreProceso}}</a></td>
                            <td>{{estadoProceso}}</td>
                            <td id="tdCantEnCola_{{nombreProceso}}">
                                <strong>{{cantidadEnCola}}</strong>&nbsp;{{medidaIN}}
                            </td>
                            <td id="tdCantIN_{{nombreProceso}}"><strong>{{cantidadIN}}</strong>&nbsp;{{medidaIN}}</td>
                            <td id="tdCantOUT_{{nombreProceso}}"><strong>{{cantidadOUT}}</strong>&nbsp;{{medidaOUT}}
                            </td>
                            <td id="tdEstado_{{nombreProceso}}"></td>
                        </tr>
                        <script>
                            // quitar 0 y poner espacion en blanco
                            var cantidadIN = "{{cantidadIN}}";
                            var cantidadOUT = "{{cantidadOUT}}";
                            var cantidadEnCola = "{{cantidadEnCola}}";
                            var medidaIN = "{{medidaIN}}";
                            var medidaOUT = "{{medidaOUT}}";
                            if ((cantidadEnCola == 0) && (medidaIN == 'indefinido')) {
                                document.getElementById("tdCantEnCola_{{nombreProceso}}").innerHTML = "";
                            }

                            if ((cantidadIN == 0) && (medidaIN == 'indefinido')) {
                                document.getElementById("tdCantIN_{{nombreProceso}}").innerHTML = "";
                            }

                            if ((cantidadOUT == 0) && (medidaOUT == 'indefinido')) {
                                document.getElementById("tdCantOUT_{{nombreProceso}}").innerHTML = "";
                            }


                            //si nombreProceso es igual a "preProduccion" entonces se muestra el boton de "editar"
                            /*
                            if ("{{nombreProceso}}" == "preProduccion") 
                            {
                                document.getElementById("tdEstado_{{nombreProceso}}").innerHTML = `
                                <a href="/procesos/preProduccion/{{idProceso}}" class="btn btn-outline-info">Editar</a>
                                `;
                            }
                            */
                        </script>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>