<div class="container">
    {{!-- migas de pan --}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/home/produccion">Menú de Producción</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col mx-auto">
            <div>
                <h3>Ordenes de producción</h3>
            </div>
            <div class="my-2">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Consecutivo</th>
                            <th>Nombre Producción</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each ordenesProduccion}}
                        <tr>
                            <td>{{consecutivo}}</td>
                            <td><a href="/procesos/procesosOP/{{idOP}}">{{nombreOP}}</a></td>
                            <td>{{cantidadOP}}</td>
                            <td>{{estadoOP}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>