<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-between flex-wrap my-1">
            <div>
                <nav aria-label="breadcrumb"> {{!-- miga de pan --}}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="/home/produccion">Menú de Producción</a></li>
                    </ol>
                </nav>
            </div>
            <div>{{!-- botones --}}
                <a href="/home" class="btn btn-secondary">Salir&nbsp;<i class="fa-solid fa-right-from-bracket"></i></a>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col mx-auto">
            <div>
                <h3>Ordenes de producción</h3>
            </div>
            <div class="my-2">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Consecutivo</th>
                            <th>Nombre Producción</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each ordenesProduccion}}
                        <tr onclick="funcionDestino({{idOP}})">
                            <td>{{consecutivo}}</td>
                            <td>{{nombreOP}}</td>
                            <td>{{estadoOP}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    const variableLlamante = "{{llamante}}";
    function funcionDestino(idOP) {
        if (variableLlamante == "ordenProduccion") {
            window.location.href = "/procesos/procesosOP/" + idOP;
        } else if (variableLlamante == "preProduccion") {
            window.location.href = "/procesos/preProduccion/" + idOP;
        }
    }
</script>