<div class="container">
    <div class="row d-flex align-content-between flex-wrap my-1 py-1">{{!-- Menu rutas --}}
        <div class="col">
            <div class="d-flex"> {{!-- rutas --}}
                <a href="/home">Home</a>
                <p> &nbsp; / &nbsp;</p>
                <a href="/home/usuarios">Usuarios</a>
                <p> &nbsp; / &nbsp;</p>
                <a href="/home/listarUsuarios">Lista de Usuarios</a>
            </div>
        </div>

        <div class="col d-flex justify-content-end p-1"> {{!-- Botones --}}
            <a href="/usuarios/cambiarPassword/{{usuario.idUsuario}}" class="btn btn-primary m-1"><i class="fa-solid fa-key"></i>&nbsp;Cambiar Contraseña</a>
            <a href="/usuarios/eliminarUsuario/{{usuario.idUsuario}}" class="btn btn-danger m-1"><i class="fa-solid fa-xmark"></i>&nbsp;Eliminar Usuario</a>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Editar Usuario</h3>
                </div>
                <div class="card-body">
                    <form action="/usuarios/editarUsuario/{{usuario.idUsuario}}" method="POST">
                        <div class="form-group py-2 my-2"> <!-- fullname -->
                            <label for="fullname">Nombre completo:</label>
                            <input type="text" name="fullname" placeholder="Nombre Completo" class="form-control"
                            value="{{usuario.fullname}}"  autofocus>
                        </div>

                        <div class="form-group py-2 my-2"> <!-- username -->
                            <label for="username">Nombre de usuario:</label>
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control"
                            value="{{usuario.username}}">
                        </div>

                        <div class="form-group py-2 my-2"> <!-- perfilUsuario -->
                            <label for="perfilUsuario">Perfil de usuario:</label>
                            <select name="perfilUsuario" id="perfilUsuario" class="form-control">
                                <option value="Administrador">Administrador</option>
                                <option value="Coordinador">Coordinador</option>
                                <option value="Gerencia">Gerencia</option>
                            </select>
                            <script>
                                var perfilUsuario = '{{usuario.perfilUsuario}}';
                                document.getElementById("perfilUsuario").value = perfilUsuario;
                            </script>
                        </div>

                        <div class="form-group py-2 my-2 text-center"> {{!-- Guardar --}}
                            <button type="submit" class="btn btn-success mx-2"><i class="fa-solid fa-check"></i> Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>