<div class="container">
    <div class="row d-flex align-content-between flex-wrap my-1">{{!-- Menu rutas --}}

        <div class="col d-flex justify-content-end"> {{!-- Botones --}}
            <a href="/produccion/inicio" class="btn btn-danger">Salir&nbsp;<i
                    class="fa-solid fa-right-from-bracket"></i></a>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header"> {{!-- nombreOperador --}}
                    <h5 class="card-title text-center">{{operador.nombreOperador}}</h5>
                </div>
                <div class="card-body">
                    <form action="/produccion/confirmarFinalizacion" method="post">
                        <div class="form-group py-2 my-2"> {{!-- consecutivoOP --}}
                            <label for="consecutivoOP">Orden de Producción</label>
                            <input type="text" name="consecutivoOP" class="form-control" value="{{proceso.consecutivo}}"
                                readonly>
                        </div>

                        <div class="form-group py-2 my-2"> {{!-- nombreOP --}}
                            <label for="nombreOP">Nombre Orden de Producción</label>
                            <input type="text" name="nombreOP" class="form-control" value="{{proceso.nombreOP}}"
                                readonly>
                        </div>

                        <div class="form-group py-2 my-2"> {{!-- nombreProceso --}}
                            <label for="nombreProceso">Nombre Proceso</label>
                            <input type="text" name="nombreProceso" class="form-control"
                                value="{{proceso.nombreProceso}}" readonly>
                        </div>

                        <div class="form-group py-2 my-2"> {{!-- cantidad --}}
                            <label for="cantidad">Cantidad</label>
                            <input type="text" name="cantidad" class="form-control" value="{{produccion.cantidadIN}}">
                        </div>

                        {{!-- Ocultos --}}
                        <input type="hidden" name="idOP" value="{{proceso.idOP}}">
                        <input type="hidden" name="idProceso" value="{{proceso.idProceso}}">
                        <input type="hidden" name="idProduccion" value="{{produccion.idProduccion}}">
                        <input type="hidden" name="tipoProceso" value="{{proceso.tipoProceso}}">
                        <input type="hidden" name="ordenRuta" value="{{proceso.ordenRuta}}">
                        <input type="hidden" name="cantidadEnCola" value="{{proceso.cantidadEnCola}}">
                        <input type="hidden" name="cantidadIN_Proceso" value="{{proceso.cantidadIN}}">

                        <div class="form-group py-2 my-2 d-flex justify-content-center"> {{!-- boton confirmar --}}
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>