<div class="container">
    <div class="row d-flex align-content-between flex-wrap my-1">{{!-- Menu rutas --}}

        <div class="col d-flex justify-content-end"> {{!-- Botones --}}
            <a href="/produccion/inicio" class="btn btn-secondary">Salir&nbsp;<i
                    class="fa-solid fa-right-from-bracket"></i></a>

        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h4>Iniciar Produccion</h4>
            <p class="h5">Orden de
                Producción:&nbsp;&nbsp;<strong>{{ordenProduccion.consecutivo}}</strong>&nbsp;-&nbsp;<i>{{ordenProduccion.nombreOP}}</i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">{{proceso.nombreProceso}}</h5>
                </div>
                <div class="card-body">
                    <form action="/produccion/iniciarProduccion/{{proceso.idProceso}}" method="post">

                        {{#if validaciones.ingresarCantidad}}
                        <div class="form-group d-flex">
                            <div class="m-2"> {{!-- cantidadIN --}}
                                <label for="cantidadIN">Cantidad Inicial</label>
                                <input type="number" name="cantidadIN" class="form-control" onfocus="this.select()"
                                    value={{proceso.cantidadEnCola}} autofocus>
                            </div>
                            <div class="m-2"> {{!-- medidaIN --}}
                                <label for="medidaIN">Unidad de medida:</label>
                                <input type="text" name="medidaIN" class="form-control" value="{{proceso.medidaIN}}"
                                    readonly>
                            </div>
                        </div>

                        {{else}}
                        {{!-- hidden --}}
                        <input type="hidden" name="cantidadIN" value={{proceso.cantidadEnCola}}>

                        {{/if}}

                        {{#if validaciones.corte }}
                        <div class="form-group mt-2"> {{!-- maquinas de corte --}}
                            <div class="form-check">{{!-- Maquina 1 --}}
                                <input class="form-check-input" type="radio" name="maquinaCorte" id="maquinaCorte1"
                                    value="Maquina1">
                                <label class="form-check-label" for="maquinaCorte1">Maquina <strong>1</strong></label>
                            </div>

                            <div class="form-check">{{!-- Maquina 2 --}}
                                <input class="form-check-input" type="radio" name="maquinaCorte" id="maquinaCorte2"
                                    value="Maquina2">
                                <label class="form-check-label" for="maquinaCorte2">Maquina <strong>2</strong></label>
                            </div>

                            <div class="form-check">{{!-- Maquina 3 --}}
                                <input class="form-check-input" type="radio" name="maquinaCorte" id="maquinaCorte3"
                                    value="Maquina3">
                                <label class="form-check-label" for="maquinaCorte3">Maquina <strong>3</strong></label>
                            </div>

                            <div class="form-check">{{!-- Maquina 4 --}}
                                <input class="form-check-input" type="radio" name="maquinaCorte" id="maquinaCorte4"
                                    value="Maquina4">
                                <label class="form-check-label" for="maquinaCorte4">Maquina <strong>4</strong></label>
                            </div>

                            <div class="form-check">{{!-- Maquina 5 --}}
                                <input class="form-check-input" type="radio" name="maquinaCorte" id="maquinaCorte5"
                                    value="Maquina5">
                                <label class="form-check-label" for="maquinaCorte5">Maquina <strong>5</strong></label>
                            </div>

                        </div>
                        {{/if}}

                        {{!-- idOP, idProceso e idProduccion ocultos --}}
                        <input type="hidden" name="nombreProceso" value="{{proceso.nombreProceso}}">
                        <input type="hidden" name="cantidadIN_proceso" value="{{proceso.cantidadIN}}">
                        <input type="hidden" name="cantidadEnCola" value="{{proceso.cantidadEnCola}}">

                        <div class="form-group py-2 my-2 d-flex justify-content-center"> {{!-- boton confirmar --}}
                            <button type="submit" class="btn btn-success">Iniciar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>